#aboutWrapper {
    /* background-image: url(../../assets/images/pexels-sueda-dilli-17675996.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -800px; */
    width: 100vw;
    height: 100vh;
}