/* Dancing Script font (for logo)*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@500&family=Roboto&family=VT323&display=swap');
/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@500&family=Roboto:ital,wght@0,400;1,100&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid orange; */
}

#menuWrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/images/pexels-sueda-dilli-17675996.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -800px;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

#menuTopBarContainer {
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 8fr 1fr;
    width: 100vw;
}

#menuTopBarContainer > * {
    margin: 10px;
}

#menuLogo {
    font-family: 'Dancing Script';
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

#menuAboutButton {
    grid-column: 3;
    background-color: rgb(75, 0, 0);
    color: white;
    font-family: "Roboto" sans-serif;
    font-size: medium;
    border: 0px;
    border-radius: 10px;
}

#menuAboutButton:hover {
    background-color: red;
}

.sectionContainer {
    border: 5px solid rgb(88, 0, 0);
    border-radius: 55px;
    background-color: rgb(15, 15, 15);
}

.sectionContainer > * {
    margin: 30px;
}

#menuItemsContainer {
    width: 50vw;
    overflow: auto;
}

#menuItemContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
    gap: 20px;
}

#menuItemImage {
    grid-column: 1;
    max-width: 90%;
    border-radius: 100%;
}

#menuItemTextContainer {
    display: grid;
}

#menuTitle, 
#menuDescription {
    color: white;
    padding: 20px;
    font-family: 'Roboto' sans-serif;
}

#menuTitle {
    border-bottom: 1px solid red;
}

.menuItemsHeader {
    color: white;
    font-family: 'Dancing Script';
    font-size: 40px;
}

